## Make and index some data in Python

Creating vectors, and a pandas DataFrame, some low-key indexing

In [21]:
import numpy as np
import pandas as pd

In [46]:
# For some reason the type() function isn't working for me on this document, but it worked on another one.

teddy = [1, 2, 8]
# type(teddy)

khora = [10, 20, 1000]
# type(khora)

teddy + khora

TypeError: 'list' object is not callable

In [29]:
teddy_vec = np.array(teddy)
# type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [30]:
teddy[1]

2

In [31]:
teddy[1] = 5000

teddy

[1, 5000, 8]

In [35]:
# Make a tuple
marley = (6, 9, 3)

marley[1]

9

In [38]:
# Can't change a tuple
marley[1] = 400

TypeError: 'tuple' object does not support item assignment

In [43]:
waffle = [2, "a burrito", [0, 1, 15], False]

waffle

[2, 'a burrito', [0, 1, 15], False]

In [45]:
waffle[2]

[0, 1, 15]

In [47]:
waffle[0] = "It's Tuesday!"
waffle

["It's Tuesday!", 'a burrito', [0, 1, 15], False]

In [48]:
cows = {'name': ["moo", "spots", "happy"], 'location':["pasture", "prairie", "barn"]}

In [49]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prairie', 'barn']}

In [50]:
cows_df = pd.DataFrame(cows)

cows_df

    name location
0    moo  pasture
1  spots  prairie
2  happy     barn

In [52]:
waffle_df = pd.DataFrame(waffle)

waffle_df

               0
0  It's Tuesday!
1      a burrito
2     [0, 1, 15]
3          False